  
.btn-success:hover
{
	background-color: red;
}
  canvas {
    margin-top:120px;
	  animation-name: example;
	  animation-duration: 4s;
	  animation-iteration-count: infinite;
    border-radius: 50%;
    border-style:ridge;
  }


@keyframes example {

  from {box-shadow: 5px 5px 38px rgb(4, 4, 5);}
  to {box-shadow: 5px 5px 38px rgb(255, 255, 255);}

}
.heading{
  padding-top:20px;
  padding-bottom:20px;
  background-image: linear-gradient(to right, red , yellow);
  font-size: 50px;
  width:100%;
  font-family:'Pacifico', cursive;
}
body{
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}